<formly-form [form]="form" [fields]="customForm" [model]="model" [options]="{ formState }">
</formly-form>

@if (model) {
  <div class="preview-box">
    <span class="price">{{ model.price | currency : 'EUR' : 'symbol' }}</span>
    <sfo-crepe-preview [crepe]="model"></sfo-crepe-preview>

    <div class="actions">
      @if (editing) {<button class="btn btn-link" (click)="cancel()">Annuler</button>}
      <button class="btn btn-secondary" (click)="add()" [disabled]="form.invalid">{{ editing ? 'Modifier' : 'Ajouter' }}
      </button>
    </div>
  </div>
}
