<formly-form
  [form]="form"
  [fields]="fields"
  [model]="model"
  [options]="options"></formly-form>































<!--@if (stripeTest) {-->
<!--&lt;!&ndash;  <ngx-stripe-card-group&ndash;&gt;-->
<!--&lt;!&ndash;    [formGroup]="stripeTest"&ndash;&gt;-->
<!--&lt;!&ndash;    [elementsOptions]="elementsOptions"&ndash;&gt;-->
<!--&lt;!&ndash;  >&ndash;&gt;-->
<!--&lt;!&ndash;    <input formControlName="name" />&ndash;&gt;-->
<!--&lt;!&ndash;    <input formControlName="amount" />&ndash;&gt;-->
<!--&lt;!&ndash;    <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>&ndash;&gt;-->
<!--&lt;!&ndash;    <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>&ndash;&gt;-->
<!--&lt;!&ndash;    <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="submit" (click)="pay()">&ndash;&gt;-->
<!--&lt;!&ndash;      PAY&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </ngx-stripe-card-group>&ndash;&gt;-->
<!--  <ngx-stripe-card></ngx-stripe-card>-->
<!--}-->
