<sfo-order-stepper [buttonLabels]="buttonLabels" [currentForm]="currentForm"
                   (onStepSelected)="updateCurrentForm($event)">
  <cdk-step content="name" [stepControl]="formGroup1">
    <ng-template cdkStepLabel>Commande</ng-template>
    <sfo-menu [order]="order.items" (onChange)="updateOrder($event)"></sfo-menu>
  </cdk-step>
  <cdk-step [stepControl]="deliveryForm">
    <ng-template cdkStepLabel>Livraison</ng-template>
    <h2><img src="/icons/delivery.png" alt="Delivery icon"/>Mode de livraison</h2>
    <formly-form class="delivery-form" [form]="deliveryForm" [fields]="deliveryFields" [model]="delivery"/>
  </cdk-step>
  <cdk-step>
    <h2><img src="/icons/payment.png" alt="Payment icon"/>Paiement</h2>
    <ng-template cdkStepLabel>Paiement</ng-template>
    <!--    <sfo-payment></sfo-payment>-->
  </cdk-step>
</sfo-order-stepper>

<sfo-order-summary [order]="order"></sfo-order-summary>
