/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme' as *;
@use 'reboot' as *;
@use 'typography' as *;
@use 'button' as *;

@include mat.core();

html {
  width: 100%;
  height: 100%;
}

h2 {
  img {
    height: 24px;
    margin-right: 15px;
  }
}

:root {
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
  --mdc-filled-text-field-container-color: $backgroundColor;
  --mat-form-field-hover-state-layer-opacity: 0;
}
