@use 'theme' as *;

button.btn {
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;

  &.btn-primary {
    background-color: $mainColor;
    color: white;
    border: 1px solid darken($mainColor, 10%);

    &:hover {
      background-color: darken($mainColor, 5%);
    }
    &:active {
      background-color: darken($mainColor, 10%);
    }
    &:disabled {
      background-color: darken($gray, 10%);
    }
  }

  &.btn-secondary {
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 5%);
    }

    &:active {
      background-color: darken($yellow, 10%);
    }
  }

  &.btn-outline-secondary {
    border: 1px solid $gray;
    background-color: white;

    &:hover {
      background-color: $backgroundColor;
    }

    &:active {
      background-color: darken($backgroundColor, 10%);
    }
  }
}
