@use 'theme' as *;

:host {
  user-select: none;
}

img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.edit {
  width: 90%;
  height: 90%;
  display: none;
  background-color: rgba($yellow, 0.5);
  border-radius: 50%;
  margin: 0 auto;
  top: 5%;
  left: 5%;
  position: absolute;
  color: black;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
}

:host:hover .edit {
  display: flex;
}
